@media (min-width:1200px){
    #titulo{
        text-align: center;
    }
    #contenedorPeli{
        position:absolute; z-index:-1;
    }
    #fila1{
        margin-top: 10px;
    }
    p{
        padding-top: 1px;
        font-size: 18px;
        background: rgb(245, 168, 2);
        height: 27px;
    }
    #disenio_slider{
        background-color: black;
        
    }
}

/*CONFIGURACIÓN DE TAMAÑO PHONE*/
@media (max-width: 767px){
    #titulo{
        text-align: center;
    }
    #disenio_slider{
        background-color: black;
    }

    #fila1{
        margin-top: 10px;
    }
    p{
        padding-top: 1px;
        font-size: 8px;
        background: rgb(245, 168, 2);
        height: 13px;
    }
}