
    img{
        display: block;
        max-width: 100%;
    }
    .galeria{
        /*padding: 10px;*/
        margin-left: -30px;
        display: flex;
        flex-wrap: wrap;
        /*justify-content: center;*/
    }
    ul{
        list-style:none;
        }
    .modal{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.87);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;

    }
    .modal__img{
        
        max-width: 90%;
        width: 90%;

    }
    .modal__boton{
        width: 50px;
        height: 50px;
        color: rgb(10, 10, 10);
        font-weight: bold;
        font-size: 25px;
        font-family: monospace;
        line-height: 50px;
        text-align: center;
        background: yellow;
        border-radius: 50px;
        position: absolute;
        right: 10px;
        top: 10px;
    }



@media (min-width:1200px){
    .galeria__item{
        width: 24%;
        cursor: pointer;
        margin: 5px;
    }
    p{
        padding-top: 1px;
        font-size: 18px;
        background: rgb(245, 168, 2);
        height: 27px;
    }

    /*ESTILOS FACEBOOK*/
    .chat-container{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 340px;
        height: auto;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
        
    }
    .chat-button{
        width: 100%;
        margin: 0;
        cursor: pointer;
        user-select: none;
        padding: 4px 0;
        background-color: #337AB7;
        text-align: center;
        color: #fff;
    }
    .chat-content{
        margin: 0;
        padding: 0;
        background-color: #fff;
        display: none;
    }
}
@media (max-width: 767px){
    .galeria__item{
        width: 30%;
        cursor: pointer;
        margin: 3px;        
    }
    p{
        padding-top: 1px;
        font-size: 8px;
        background: rgb(245, 168, 2);
        height: 13px;
    }

    /*ESTILOS FACEBOOK*/
    .chat-container{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 340px;
        height: auto;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
    }
    .chat-button{
        width: 100%;
        margin: 0;
        cursor: pointer;
        user-select: none;
        padding: 4px 0;
        background-color: #337AB7;
        text-align: center;
        color: #fff;
    }
    .chat-content{
        margin: 0;
        padding: 0;
        background-color: #fff;
        display: none;
    }
}

