@media (min-width:1200px){

    
    #titulo{
        text-align: center;
    }
    #contenedorPeli{
        position:absolute; z-index:-1;
    }
    #fila1{
        margin-top: 10px;
    }
    p{
        padding-top: 1px;
        font-size: 18px;
        background: rgb(245, 168, 2);
        height: 27px;
    }
    #disenio_slider{
        background-color: black;
        
    }
   
    
    
    /*ESTILOS FACEBOOK*/
    .chat-container{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 340px;
        height: auto;
        position: fixed;
        bottom: 0;
        right: 15px;
        z-index: 999;
    }
    .chat-button{
        width: 100%;
        margin: 0;
        cursor: pointer;
        user-select: none;
        padding: 4px 0;
        background-color: #337AB7;
        text-align: center;
        color: #fff;
    }
    .chat-content{
        margin: 0;
        padding: 0;
        background-color: #fff;
        display: none;
    }
}

/*CONFIGURACIÓN DE TAMAÑO PHONE*/
@media (max-width: 767px){
    #titulo{
        text-align: center;
    }
    #disenio_slider{
        background-color: black;
    }

    #fila1{
        margin-top: 10px;
    }
    p{
        padding-top: 1px;
        font-size: 8px;
        background: rgb(245, 168, 2);
        height: 13px;
    }

        /*ESTILOS FACEBOOK*/
        .chat-container{
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 340px;
            height: auto;
            position: fixed;
            bottom: 0;
            right: 15px;
            z-index: 999;
        }
        .chat-button{
            width: 100%;
            margin: 0;
            cursor: pointer;
            user-select: none;
            padding: 4px 0;
            background-color: #337AB7;
            text-align: center;
            color: #fff;
        }
        .chat-content{
            margin: 0;
            padding: 0;
            background-color: #fff;
            display: none;
        }
}